<!-- Structured data for Google Scholar and search engines -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.first_name }} {{ site.last_name }}",
  "url": "{{ site.url }}{{ site.baseurl }}",
  "image": "{{ site.url }}{{ site.baseurl }}/assets/img/prof_pic.jpg",
  "jobTitle": "Principal Investigator",
  "affiliation": {
    "@type": "Organization",
      "name": "CHINTA, TCG CREST"
  },
  "alumniOf": {
    "@type": "Organization",
    "name": "National Centre for Biological Sciences"
  },
  "sameAs": [
    "https://scholar.google.com/citations?user=alRufoEAAAAJ",
    "https://github.com/subhacom",
    "https://orcid.org/0000-0003-2566-7146",
  ],
  "knowsAbout": [
    "Insect Navigation",
    "Computational Neuroscience",
    "Electrophysiology",
    "Neuroethology",
    "Neural Modeling"
  ]
}
</script>
